@font-face {
  font-family: Orbitron;
  src: url('./fonts/Orbitron-Regular.ttf');
}

.homepage {
  text-align: center;
  margin: -1em;
}

.homepage__space {
  background: url('./images/background.gif') repeat;
  height: 250px;
  position: relative;
}

.homepage__space__title {
  position: relative;
  top: 90px;
  font-size: 10px;
  font-family: Orbitron;
}

.homepage__space__astronaut {
  position: absolute;
  bottom: 0px;
  height: 48px;
  width: 100%;
  background: url('./images/astronaut.gif') center center no-repeat;
}

.homepage__ground {
  background: url('./images/ground.png') repeat;
  height: 15px;
}
